<div id="sidebar-wrapper" class="sidebar-toggle">
    <ul class="sidebar-nav nav">
        <div class="onMobileShow">
            <li><a href="/user/Neworder"><i class="fa fa-user"></i>Account<span class="badge">3</span></a></li>
        </div>
        <li class="login"><a href="/client/profile"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Profile</a></li>
        <li class="login"><a href="/client/editprofile"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Edit Profile</a></li>

        <li><a href="/client/searchtalent"><i class="fa fa-money" aria-hidden="true"></i>Search Talent</a></li>

        <li><a href="/client/calendar"><i class="fa fa-paper-plane" aria-hidden="true"></i>Calendar</a></li>
        <li><a href="/client/groups"><i class="fa fa-magic" aria-hidden="true"></i>Groups</a></li>
        <li><a href="/client/searchfunctions"><i class="fa fa-list" aria-hidden="true"></i>Functions</a></li>
        <li><a href="/client/account"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Account Settings</a></li>

        <li><a href="/client/logout"><i class="fa fa-list" aria-hidden="true"></i>Logout</a></li>


        <div class="onMobileShow">
            <li><a href="/logout"><i class="fa fa-sign-out"></i>Logout</a></li>
        </div>
    </ul>
</div>



