<nav class="navbar navbar-default navbar-static-top navbar-fixed-top ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle collapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/User/NewOrder" style="color:rgb(233, 190, 90);margin-left:10px;">
                <!--<img src="//i.imgur.com/wAfBLNw.png" alt="socialwizards.com" title="socialwizards.com" />-->
                <!--<img src="//i.imgur.com/M0Kuc2F.png" alt="socialwizards.com" title="socialwizards.com" />-->
                @*    <img src="@Url.Content("~/Images/finallogo.png")" alt="sociallacasa.com" title="sociallacasa.com" style="width:150px;height:65px;" />*@
                SoundCheck.pro
                <!--<img src="//i.imgur.com/kcDvgGk.png" alt="socialwizards.com" title="socialwizards.com" />-->
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <!--<ul class="nav navbar-nav navbar-left-block">
                          <li class="active" ><a href="/">New order</a></li>
                          <li><a href="/massorder">Mass order</a></li>
                          <li><a href="/services">Services</a></li>
                          <li><a href="/orders">Orders</a></li>
                          <li><a href="/subscriptions">Subscriptions</a></li>
                          <li><a href="/addfunds">Add funds</a></li>
                          <li><a href="/tickets">Tickets <span class="badge" style="background-color: #f0ad4e">3</span></a></li>
                          <li><a href="/faq">FAQ</a></li>
                          <li><a href="/api">API</a></li>
                          <li><a href="/terms">Terms</a></li>
                      </ul>-->
            <ul class="nav navbar-nav navbar-right navbar-right-block">
                <li>
                    <a><span class="badge">3</span></a>
                </li>
                <li>
                    <a href="/User/Account"><i class="fa fa-user" aria-hidden="true"></i> Account</a>
                </li>
                <li>
                    <a href="/Visitor/SignIn"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


