
@{
    ViewBag.Title = "editprofile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    @{
        Html.RenderPartial("_talentTopNav");
    }
</div>
<div>
    @{
        Html.RenderPartial("_talentSidebar");
    }
</div>


<div class="content-wrapper user">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-lg-10 centered">
                <div class="well">
                    <div id="musicianprofile1" class="inner-bg profilepage">
                        <div class="container">
                            <div class="row">
                                <div class="heading-block text-center">
                                    <h3>Singer Profile Page</h3>
                                    <span class="divide"></span>
                                    <span class="margin-top-20" id="allRequire">Please fill as many fields as possible to get noticed by Talent finder or viewers.</span>
                                </div>
                            </div>
                            <form class="registration-form" method="post" action="https://www.musictalentindia.com/account/edit_profile" role="form" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-box">
                                            <div class="form-bottom">
                                                <select id="u_lang" name="u_lang[]" style="display: inline !important;" class="select2me form-control" multiple="">
                                                    <option></option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 0</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 35</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 35<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="kannada">Kannada</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 0</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 35</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 35<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="hindi">Hindi</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 0</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 35</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 35<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="english">English</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 0</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 35</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 35<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="telugu">Telugu</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 0</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 35</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 35<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="malayalam">Malayalam</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 0</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 35</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 35<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="tamil">Tamil</option>
                                                </select>

                                                <select id="u_musicCategory" name="u_musicCategory[]" style="display: inline !important;" class="select2me" multiple="">
                                                    <!--<option value="">Music Category</option>-->

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 1</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 50</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 50<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="film songs">Film Songs</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 1</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 50</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 50<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="devotional songs">Devotional Songs</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 1</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 50</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 50<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="classical songs">Classical Songs</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 1</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 50</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 50<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="folk songs">Folk Songs</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 1</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 50</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 50<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="western style">Western Style</option>
                                                </select>

                                                <select id="u_ganre" name="u_ganre[]" style="display: inline !important;" class="select2me" multiple="">
                                                    <!--<option value="">Genre You Like</option>-->

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 2</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 64</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 64<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="classical">Classical</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 2</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 64</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 64<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="devotional">Devotional</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 2</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 64</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 64<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="pop">Pop</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 2</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 64</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 64<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="rap">Rap</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 2</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 64</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 64<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="romantic">Romantic</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 2</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 64</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 64<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="sad">Sad</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 2</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 64</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 64<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="comedy">Comedy</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 2</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 64</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 64<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="patriotic">Patriotic</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 2</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 64</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 64<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="joy">Joy</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined offset: 2</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 64</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 64<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="metal ">Metal </option>
                                                </select>

                                                <div class="form-group">
                                                    <label for="form-email" class="sr-only active">No. of year trained</label>
                                                    <input type="text" id="u_trained_year" class="form-email form-control" placeholder="No. of year trained" name="u_trained_year" value="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="form-name-of-guru" class="sr-only active">Name of Guru</label>
                                                    <input type="text" id="u_name_of_guru" class="form-name-of-guru form-control" placeholder="Name of Guru" name="u_name_of_guru" value="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="form-email" class="sr-only active">Institute Trained</label>
                                                    <input type="text" id="u_institute_trained" class="form-email form-control" placeholder="Institute Trained" name="u_institute_trained" value="">
                                                </div>
                                                <div class="form-group input-group date">
                                                    <input type="text" value="" class="form-control" id="u_bdate" name="u_bdate" placeholder="Date Of Birth(dd-mm-yyyy)">
                                                    <div class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 middle-border"></div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                        <div class="form-box">
                                            <div class="form-bottom">

                                                <div class="form-group">
                                                    <label for="form-first-name" class="sr-only active">Mobile No</label>
                                                    <input type="text" id="u_mob_number" class="form-first-name form-control" placeholder="Mobile No" name="u_mob_number" value="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="form-last-name" class="sr-only active">City</label>
                                                    <input type="text" id="u_city" class="form-last-name form-control" placeholder="City" name="u_city" value="">
                                                </div>

                                                <select id="u_country" name="u_country" style="display: inline !important;" class="select2me form-control">
                                                    <option>Select Country</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined variable: ud</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 155</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 155<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="india">India</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined variable: ud</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 155</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 155<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="dubai">Dubai</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined variable: ud</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 155</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 155<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="england">England</option>

                                                    <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                                                        <h4>A PHP Error was encountered</h4>

                                                        <p>Severity: Notice</p>
                                                        <p>Message:  Undefined variable: ud</p>
                                                        <p>Filename: views/singer-profile-page.php</p>
                                                        <p>Line Number: 155</p>


                                                        <p>Backtrace:</p>






                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/views/singer-profile-page.php<br />
                                                            Line: 155<br />
                                                            Function: _error_handler
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 351<br />
                                                            Function: include
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/third_party/MX/Loader.php<br />
                                                            Line: 294<br />
                                                            Function: _ci_load
                                                        </p>




                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/application/modules/users/controllers/Users.php<br />
                                                            Line: 72<br />
                                                            Function: view
                                                        </p>








                                                        <p style="margin-left:10px">
                                                            File: /home/musictalentindia/public_html/index.php<br />
                                                            Line: 292<br />
                                                            Function: require_once
                                                        </p>




                                                    </div>
                                                    <option value="russia">Russia</option>
                                                </select>
                                                <div class="form-group">
                                                    <label for="form-email" class="sr-only active">Upload Performance Link</label>
                                                    <input type="text" id="u_upload_link" class="form-email form-control" placeholder="Upload Performance Link" name="u_upload_link" value="">

                                                </div>
                                                <div class="form-group">
                                                    <label for="form-last-name" class="sr-only active">Award/Contest's Won</label>
                                                    <input type="text" id="u_award" class="form-last-name form-control" placeholder="Award / Contest's Won" name="u_award" value="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="form-last-name" class="sr-only active">Additional Remark</label>
                                                    <input type="text" id="u_remark" class="form-last-name form-control" placeholder="Additional Remark" name="u_remark" value="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="form-last-name" class="sr-only active">Profile Image</label>
                                                    <input type="file" aria-describedby="fileHelp" id="exampleInputFile" class="form-control-file" accept=".jpg,.png,.jpeg" name="uploadFile" size="1">
                                                    <small style="color: white;" class="form-text text-muted" id="fileHelp">(Upload .jpg,.png.jpeg format, Max File Size 3mb)</small>
                                                    <img class="profileImage" src="/upload/profile/default_profile_image.png">
                                                </div>
                                                <button style=" width: 40% !important; background: #ed38d2 !important; float: left !important;" class="btn" type="button" id="uploadBtn">
                                                    Upload Page
                                                </button>
                                                <button style=" width: 50% !important; background: #ed38d2 !important; float: right !important;" class="btn" type="submit">
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
</div>




