
@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @{
        Html.RenderPartial("_talentTopNav");
    }
</div>
<div>
    @{
        Html.RenderPartial("_talentSidebar");
    }
</div>


<div class="content-wrapper user">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-lg-10 centered">
                <div class="well">
                </div>
            </div>
        </div>
    </div>
</div>

